.card_image {
  width: 15vw;
  height: 36vh;
  position: relative;
  left: 4%;
  right: 5%;
  bottom: 0;
}

.visibility_none {
  width: 15vw;
  height: 36vh;
  position: relative;
  left: 4%;
  right: 5%;
  bottom: 0;
  visibility: hidden;
}
