

.winner_h1 {
    font-family: "Calistoga", cursive;
    color: white;
    font-size: 3.5em;
    margin:0%;
    margin-left: 5%;
   
    
  }

    .winner_p {
    color: white;
    font-size: 1.2em;
    background: none;
    margin:0%;
  
  }
  @media only screen and (min-width: 1025px) {
    .container {
    margin-top:10%;
    }
      .winner_h1 {
        font-size: 5.8em;
        margin-left:18%;
        width:100%;
        

        
         }
       
      .winner_p {
        font-size: 1.5em;
        margin:0%;
        
       }}
       @media only screen and (min-width: 900px) and (max-width: 1024px) {
        .winner_h1 {
   
            font-size: 7.5em;
          
          }
          .winner_p {
            display: none;
          }
         }