.display_inline{
  display:inline-flex;
}
  #BackOfTheDeck_Dumppile{
    position: absolute;
    transform: rotate(90deg);
    min-width: 5vw;
    min-height: 15vh;
    width: 5.4vw;
    height: 15vh;
    left: 47%;
    top: 3%; 
  }
  .backFromPile{
    position:relative;
    top:15vh;
    margin:10px;
  }
 
  @media only screen 
  and (min-device-width : 900px) 
  and (max-device-width : 1100px) 
  and (orientation : landscape) {
    #BackOfTheDeck_Dumppile{
      left: 45%;

      width:7vw;
    }
  }