.avatar_Display {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  position: relative;
  left: 20%;
  top: 5vh;
}
.imagem_avatar {
  width: 7vw;
  height: 10vh;
  position: relative;
  bottom: 2vh;


}
.playerName {
  width: 15vw;
  height: 6vh;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  position: relative;
  top: -5vh;
  text-align: center;
  padding-top:6px;
  padding-bottom:6px;

}

@media only screen and (min-width: 900px) and (max-width: 1050px) {
.playerName{
  font-size:1.7em;
  top: -5vh;
  text-align: center;
  padding-top:10px;
  padding-bottom:3px;
}
}
@media only screen and (min-width: 1050px) {
  .playerName{
    font-size:1.3em;
    top: -5vh;
    text-align: center;
    padding-top:10px;
    padding-bottom:3px;
  }
}