main{
  height:100vh;
  width:100%;
}
body{
  background:black;
}

@media screen and (orientation:landscape){
  #use-landscape{
    display:none;
  }
}
@media screen and (orientation: portrait) and ( min-width:501px){
  #orientation {
    display: none;
  }
  #use-landscape{
   
    height:100vh;
    width:100%; 
   }
  body{
    background: black;
  }
     .turnBody{
      height:90%;
      width:100%; 
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
     }
    #phonegif{
            position: relative;
            width:70%;
            height:70%;
          
        }
        
        #turnphone_h1{
            color:rgba(255, 255, 255, 0.589);
            font-size:3.5em;
            width:80%;
            text-align: center;
                 
        }
}

@media screen  and (max-width:550px) {
  #orientation {
    display: none;
  }
  #use-landscape{
   
    height:100vh;
    width:100%; 
   }
  body{
    background: black;
  }
     .turnBody{
      height:85%;
      width:90%; 
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
     }
    #phonegif{
            position: relative;
            width:70%;
            height:70%;
          
        }
        
        #turnphone_h1{
            color:rgba(255, 255, 255, 0.589);
            font-size:2em;
            width:80%;
            text-align: center;
                 
        }
}