.positionLogo p {
  background: none;
  position: absolute;
  font-family: "Arapey", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6em;
  line-height: 77px;
  margin-top: 60%;
  color: rgba(255, 255, 255, 0.349);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#C {
  margin-left: 26px;
  color: rgba(255, 255, 255, 0.15);
}
@media screen and (min-width:500px) and (max-width:600px){
  .positionLogo p{
    font-size:3em;
   
  }
  #C {
    margin-left: 15px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1050px) {
  .positionLogo p {
    position: absolute;
    font-size: 10em;
    margin-top: 90%;
  }
}
@media only screen and (min-width: 1050px) {
  .positionLogo p {
    position: absolute;
    font-size: 10em;
    margin-top: 60%;
  }
}
